alphaMaxResults_NC_1.jld filter=lfs diff=lfs merge=lfs -text
alphaMaxResults_NC_3.jld filter=lfs diff=lfs merge=lfs -text
boundTightened_2383.jld filter=lfs diff=lfs merge=lfs -text
boundTightened_2746.jld filter=lfs diff=lfs merge=lfs -text
boundTightened_9.jld filter=lfs diff=lfs merge=lfs -text
testN4Results.jld filter=lfs diff=lfs merge=lfs -text
testN5Results_118.jld filter=lfs diff=lfs merge=lfs -text
alphaMaxResults_C_2.jld filter=lfs diff=lfs merge=lfs -text
boundTightened_14.jld filter=lfs diff=lfs merge=lfs -text
boundTightened_300.jld filter=lfs diff=lfs merge=lfs -text
groupDict.jld filter=lfs diff=lfs merge=lfs -text
testN2Results.jld filter=lfs diff=lfs merge=lfs -text
testN5Results_300.jld filter=lfs diff=lfs merge=lfs -text
testN7Results.jld filter=lfs diff=lfs merge=lfs -text
alphaMaxResults_C_1.jld filter=lfs diff=lfs merge=lfs -text
boundTightened_30.jld filter=lfs diff=lfs merge=lfs -text
boundTightened_5.jld filter=lfs diff=lfs merge=lfs -text
boundTightened_118.jld filter=lfs diff=lfs merge=lfs -text
alphaMaxResults_NC_2.jld filter=lfs diff=lfs merge=lfs -text
testN3Results.jld filter=lfs diff=lfs merge=lfs -text
testN8Results.jld filter=lfs diff=lfs merge=lfs -text
testN9Results.jld filter=lfs diff=lfs merge=lfs -text
alphaMaxResults_C_3.jld filter=lfs diff=lfs merge=lfs -text
